body {
    background: #f0f4f4;
}
#canvas {
    max-width: 1110px;
    margin: 0 auto;
    padding: 45px 45px 0;
}
header {
    font-family: 'Source Sans Pro', sans-serif;
    align-items: left;
    border-bottom: 1px solid #263333;
}
h1 {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    font-size: 50px;
}
p {
    font-family: 'Source Sans Pro', sans-serif;
}
.container {
    display: flex;
    justify-content: space-between;
}

#topNav a {
    font-size: 30px;
    color: #263333;
    text-decoration: none;
    padding-left: 8px;
    padding-right: 8px;
}
footer {
    border-top: 1px solid #263333;
    border-bottom: 1px solid #263333;
    font-size: 20px;
    line-height: 30px;
}
#bottomNav .fa {
    width: 50px;
    padding-top: 15px;
    font-size: 2em;
    text-decoration: none;
    color: #263333;
  }